* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #24201e;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px 7%;
    align-items: center; 
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s;
}

.logo img:hover { transform: scale(1.1); }

ul { display: flex; list-style: none; }

ul li { padding: 0 15px; }

ul li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.3s; 
}

ul li a:hover { color: #e76f51; }

.section-container {
    min-height: 90vh;
    padding: 80px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-margin-top: 100px; 
}

.text-content { flex: 1; }

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

h1 { font-size: 45px; margin: 20px 0; }
h3 { font-size: 20px; color: #555; }
span { color: #2bad41; }

.grad-year {
    color: #3498db; 
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

.btn {
    text-decoration: none;
    color: #fff;
    background: #24201e;
    margin-top: 30px;
    padding: 12px 25px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover { background: #e76f51; }

.education {
    background-color: #fcfcfc;
    border-top: 1px solid #eee;
}
